header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 1px solid #000;
    a {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &.logo {
            font-size: 20px;
        }
    }
}